body { margin: 0; overflow: hidden; }

#start-msg {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: sans-serif;
    background: rgba(0,0,0,0.5);
    padding: 8px 14px;
    border-radius: 10px;
    z-index: 10;
}

#ar-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e6ace0;
    color: black;
    padding: 12px 24px;
    border-radius: 12px;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    display: none; 
    cursor: pointer;
    z-index: 1000;
}
